.fundoAzul {
    background-color: rgba(6, 107, 133, 0.767);
}
.fundoRosa {
    background-color: cadetblue;
    text-align: center;
}
.formatoDoTexto {
    font-family: Arial, Helvetica, sans-serif;
}